@import "../../colors.scss";

.selection {
    color: $light_blue;
    margin-top: 2em;
    padding-bottom: 2em;
    select {
        margin-left: 10px;
        color: $light_blue;
        letter-spacing: 2px;
        border: 2px solid $light_blue;
        font-size: 14pt;
        &:hover {
            color: $light_blue;
        }
        &:focus {
            box-shadow: none;
        }
    }
}
